@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif; }

.first-letter {
  color: #5c80ca; }

a {
  color: #000; }

/**************************************************************
 HEADER
**************************************************************/
.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  background: linear-gradient(255deg, #5c80ca, #fff);
  z-index: 90; }

.header__brand {
  padding: 0.9375rem;
  font-size: 22px; }

.header__nav {
  width: 40vw;
  height: 100%;
  padding: 0px 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav__menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__menu__item a {
  padding: 0.9rem;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  transition: color .3s ease; }

.nav__menu__item a:hover {
  color: #ffffff; }

/**************************************************************
 MAIN
**************************************************************/
#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1; }

.main-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.main-container h1 {
  font-size: 45px;
  font-weight: 400;
  z-index: 99; }

.main-container h2 {
  font-size: 25px;
  font-weight: 400;
  z-index: 99; }

/**************************************************************
 FOOTER
**************************************************************/
.footer {
  width: 100%;
  height: 8vh;
  background: #5c80ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px; }

.footer__redes {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer__redes a {
  color: #000;
  font-size: 25px;
  padding: 15px; }

.footer__redes a:hover {
  color: #fff;
  transition: .3s ease-in; }

.footer__nombre {
  font-size: 25px; }
  .footer__nombre .first-letter {
    color: rgba(255, 255, 255, 0.856); }

/**************************************************************
SECTION
**************************************************************/
section {
  margin: 100px 0;
  padding-top: 50px; }

section .section__titulo {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  margin: 20px 0; }

/**************************************************************
SOBRE MI
**************************************************************/
.main-sobreMi {
  width: 70%;
  height: 80vh;
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sobreMi {
  width: 100%;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between; }

.sobreMi__img {
  width: 300px; }

.sobreMi__info {
  width: 60%;
  padding: 0.625rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(5%); }

.sobreMi__info h2 {
  font-size: 60px;
  font-weight: 100; }

.sobreMi__info h4 {
  margin: 10px 0;
  font-size: 18px; }

.sobreMi__info p {
  width: 70%; }

.tecnologias {
  padding: 0.625rem;
  display: flex; }

.tecnologias__info {
  width: 50%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column; }

.tecnologias__info p {
  width: 80%; }

.tecnologias__info .sobreMi__info p {
  margin-top: 15px; }

.tecnologias__lenguajes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 5px;
  border: 1px solid #000; }

.tecnologias__lenguajes span {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; }

/**************************************************************
PROYECTOS
**************************************************************/
.proyectos {
  width: 70%;
  margin: 1.25rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px; }

.proyectos__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ccc;
  padding: 10px; }

.proyectos__item__titulo {
  flex-grow: 1;
  font-size: 28px; }

.proyectos__item__subtitulo {
  flex-grow: 2;
  font-size: 18px; }

.proyectos__item__info {
  flex-grow: 3;
  font-size: 16px; }

.proyectos__img {
  width: 34em; }

/**************************************************************
SERVICIOS
**************************************************************/
.servicios {
  width: 70%;
  margin: 1.25rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 225px;
  gap: 20px; }

.servicios__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ccc;
  padding: 15px 0; }

.servicios__item__icono {
  font-size: 35px; }

.servicios__item__info {
  text-align: center;
  width: 26em; }

/**************************************************************
CONTACTO
**************************************************************/
.contacto {
  width: 70%;
  margin: 1.25rem auto;
  display: flex;
  justify-content: center; }

.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form label {
  align-self: flex-start; }

.form input,
.form button {
  width: 100%;
  height: 35px;
  padding-left: 5px;
  margin: 5px 0 10px 0;
  background: #eee;
  border: none;
  outline: 0; }

.form textarea {
  width: 100%;
  margin: 5px 0 10px 0;
  padding-top: 5px;
  padding-left: 5px;
  background: #eee;
  border: none;
  outline: 0;
  resize: none; }

.form .btn {
  position: relative;
  overflow: hidden;
  z-index: 2; }

.btn:hover::after {
  transition: 0.5s ease;
  height: 110%; }

.btn::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #5c80ca;
  z-index: -1; }
