@media screen and (max-width: 1160px){
    .section-container{
        height: 160vh;
      }

    #section-proyectos{
        height: 190vh;
    }

    #section-servicios{
      height: 120vh;
    }

    #section-contacto{
      height: 100vh;
    }
}

@media screen and (max-width: 700px){
    .section-container{
        height: 180vh;
      }
}

@media screen and (max-width: 500px){
    .section-container{
        height: 210vh;
      }
}

@media screen and (max-width: 450px){
  .section-container{
      height: 240vh;
    }
}