@media screen and (max-width: 1160px){
    .servicios {
        transform: translateX(-14%);
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 20px; 
      
        .servicios__item {
          height: 300px;
        
          .servicios__item__titulo{
            font-size: 25px;
          }
          
          .servicios__item__info {
            text-align: center;
            width: 26em; 
          }
        }
      }
}

@media screen and (max-width: 700px){
    .servicios {

        .servicios__item {
        
          .servicios__item__titulo{
            font-size: 23px;
          }
          
          .servicios__item__info {
            width: 24em; 
          }
        }
      }
}

@media screen and (max-width: 450px){
  .servicios {

      .servicios__item {
         width: 90%;
         padding: 0 10px;
         
         .servicios__item__titulo{
          font-size: 20px;
        }

        .servicios__item__info{
          font-size: 16px;
        }
      }
    }
}

@media screen and (max-width: 380px){
  .servicios {
    transform: translateX(-17%);
    grid-template-columns: 360px;

      .servicios__item {
         width: 90%;
         padding: 0 10px;
         
         .servicios__item__titulo{
          font-size: 18px;
        }

        .servicios__item__info{
          width: 20em;
        }
      }
    }
}